

#time {
    font-size: 40px;
}

#submitBtn {
    background-color: #690cb0;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    width: 20vw;
    height: 8vh;
}

#resetBtn {
    background-color: white;
    color: black;
    border-width: 0px;
    border-radius: 5px;
    width: 20vw;
    height: 8vh;
    margin-left: 30px;
}


.main-bg {
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);
    height: 100vh;
    font-family: Roboto;
}

.heading {
    color: #690cb0;
    font-weight: bold;
    font-size: 50px;
}

.para {
    font-size: 18px;
    color: #3e4c59;
}

.image {
    width: 60px;
}

.card {
    background-color: #f3eaff;
    border-radius: 20px;
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
}
